.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.users {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.users li {
  cursor: userer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.users li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.users li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.users .text {
  position: relative;
  top: -3px;
}
.users .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.users .badge-delete {
  right: 0;
  top: 0;
  color: #fff;
  position: absolute;
  padding: .5em 5px .1em 5px;
  height: 1.6em;
  border-radius: 0 4px 4px 0;
  background-color: #aa1133;
}

.users .badge-delete:hover {
  font-weight: 700;
}

 .status-ready {
   font-weight: 700;
   color: #fff;
   background: #4caf50;
   border-radius: 15px;
   padding: 5px 15px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin-left: 15px;
   margin-top: -5px;
 }

.status-busy {
  font-weight: 700;
  color: #fff;
  background: #aa1133;
  border-radius: 15px;
  padding: 5px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 15px;
  margin-top: -5px;
}

.status-available {
  font-weight: 700;
  color: #fff;
  background: dodgerblue;
  border-radius: 15px;
  padding: 5px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 10px;
}
