<my-header></my-header><section class="container">
  <div class="row">
    <div class="col s12">
      <h4>Statistički podatci</h4>

      <div class="chart" style="display: block">
        <canvas #foodChart baseChart
                [datasets]="kilometersData.datasets"
                [labels]="kilometersData.labels"
                [legend]="true"
                [chartType]="'bar'"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>

      <div class="chart" style="display: block">
        <canvas #foodChart baseChart
                [datasets]="actionsData.datasets"
                [labels]="actionsData.labels"
                [legend]="true"
                [chartType]="'bar'"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>

      <div class="chart" style="display: block">
        <canvas #foodChart baseChart
                [datasets]="actionTypesData.datasets"
                [labels]="actionTypesData.labels"
                [legend]="true"
                [chartType]="'bar'"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
</section>
