<my-header></my-header><section class="container">
  <div class="row">
    <div class="col s12">
      <div *ngIf="user">
        <h4>Unesi dostupnost za korisnika {{user.name}} {{user.surname}}</h4>
        <div><label>id: </label>New</div>
        <div>
          <input type="date" class="datepicker" [(ngModel)]="model.from" placeholder="Dostupan od"/>
          <input type="date" class="datepicker" [(ngModel)]="model.to" placeholder="Dostupan do"/>
          <input type="text" [(ngModel)]="model.type" placeholder="Napomena"/>
        </div>
        <button class="btn waves-effect waves-light" (click)="save()">Kreiraj <i class="material-icons right">add</i></button>
      </div>
    </div>
  </div>
</section>
