<nav>
  <div class="nav-wrapper">
    <a [routerLink]="['/']" class="brand-logo"><img src="assets/img/gss-logo.png" alt="" /><div>HGSS Admin</div></a>
    <a href="" (click)="onDropDownClick()" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a [routerLink]="['/map']">Pregled</a></li>
      <li><a [routerLink]="['/users']">Korisnici</a></li>
      <li><a [routerLink]="['/timetables']">Dostupnost</a></li>
      <li><a [routerLink]="['/actions']">Akcije</a></li>
      <li><a [routerLink]="['/logs']">Zapisnici</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a [routerLink]="['/map']">Pregled</a></li>
      <li><a [routerLink]="['/users']">Korisnici</a></li>
      <li><a [routerLink]="['/timetable']">Dostupnost</a></li>
      <li><a [routerLink]="['/actions']">Akcije</a></li>
      <li><a [routerLink]="['/logs']">Zapisnici</a></li>
    </ul>
  </div>
</nav>
